VITE_API_URL=https://api.your-domain.com/api/v1
VITE_GOOGLE_CLIENT_ID=your-google-oauth-client-id
VITE_SUPABASE_URL=https://pbiyscshjajuqoiqrwiv.supabase.co
VITE_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_HHJjRVs2bI2mfFvO2HgPbw_5nW6xIDp
