version: '3.8'

services:
  # Database
  db:
    image: mariadb:10.5
    container_name: shopfeshen-db
    environment:
      MYSQL_ROOT_PASSWORD: hoang
      MYSQL_DATABASE: fashion_store
    ports:
      - "8081:8080"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - app-network

  # Backend
  backend:
    build: ./backend
    container_name: shopfeshen-api
    restart: always
    ports:
      - "4000:4000"
    env_file:
      - ./backend/.env
    environment:
      DATABASE_URL: mysql://root:hoang@db:8080/fashion_store
      PORT: 4000
      JWT_SECRET: dev_secret_key_123
      FRONTEND_URL: http://localhost
      # Add other env vars here (Email, VNPay...)
    depends_on:
      - db
    networks:
      - app-network

  # Frontend
  frontend:
    build: ./frontend
    container_name: shopfeshen-web
    restart: always
    ports:
      - "8082:80"
    depends_on:
      - backend
    networks:
      - app-network

volumes:
  db_data:


networks:
  app-network:
    driver: bridge
