version: '3.8'

services:
  # Database
  db:
    image: mariadb:10.5
    container_name: shopfeshen-db
    environment:
      MYSQL_ROOT_PASSWORD: hoang
      MYSQL_DATABASE: fashion_store
    ports:
      - "8081:3306" # Map internal 3306 to host 8081 (avoid 8080 conflict)
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - app-network

  # Redis
  redis:
    image: redis:alpine
    container_name: shopfeshen-redis
    ports:
      - "6379:6379"
    networks:
      - app-network

  # Backend
  backend:
    build: ./backend
    container_name: shopfeshen-api
    restart: always
    ports:
      - "4000:4000"
    env_file:
      - ./backend/.env
    environment:
      DATABASE_URL: mysql://root:hoang@db:3306/fashion_store
      PORT: 4000
      JWT_SECRET: dev_secret_key_123
      FRONTEND_URL: http://localhost:8082 # Port 8082 mapped to 80
      REDIS_URL: redis://redis:6379
      SMTP_HOST: smtp-relay.brevo.com
      SMTP_PORT: 587
      SMTP_USER: "a14419001@smtp-brevo.com"
      # SMTP_PASS will be read from .env file
    depends_on:
      - db
      - redis
    networks:
      - app-network

  # Frontend
  frontend:
    build: ./frontend
    container_name: shopfeshen-web
    restart: always
    ports:
      - "8082:80"
    depends_on:
      - backend
    networks:
      - app-network

volumes:
  db_data:


networks:
  app-network:
    driver: bridge
